<h1 class="text-center mt-4 mb-4">Edit a category</h1>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @category %>
      <%= render 'form' %>
    </div>

    <div class="mb-4 mt-2">
      <%= link_to " [ Cancel and return to the previous category page ]", category_path(@category), class: 'text-info'%> 
    </div>
    
  </div>
</div>